**/*.iml
**/.directory
**/.idea/**
**/.\#*
**/pom.xml
**/target/**
*.elc
*.jar
*.log
.lein-env
.lein-failures
.nrepl-port
.polylith/git.edn
.polylith/time.edn
artifacts/**
clojure.ipr
clojure.iws
Dockerfile
Dockerfile.noemacs
environments/development/cov
maven-classpath
maven-classpath.properties
nbproject/private/
!.dockerignore
!.gitignore
!/**/.gitkeep
