**/target/**
*.elc
*.iml
*.jar
*.log
.\#*
.cask
.directory
.lein-env
.lein-failures
.nrepl-port
.polylith/git.edn
.polylith/time.edn
clojure.ipr
clojure.iws
environments/development/cov/
maven-classpath
maven-classpath.properties
nbproject/private/
pom.xml
scripts/sdnize/travis.sh
!.dockerignore
!.gitignore
!/**/.gitkeep
